version: '3.8'

services:
  ml-service:
    container_name: HydraSense-ML-Service
    image: sakethpragallapati/hydrasense-ml-service:latest
    ports:
      - "7000:7000"

  backend:
    container_name: HydraSense-Backend
    image: sakethpragallapati/hydrasense-backend:latest
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - FLASK_API_URL=http://ml-service:7000
    depends_on:
      - ml-service

  frontend:
    container_name: HydraSense-Frontend
    image: sakethpragallapati/hydrasense-frontend:latest
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:5000
    stdin_open: true
    tty: true