version: '3.8'

services:
  ml-service:
    container_name: HydraSense-ML-Service
    build:
      context: .
      dockerfile: ./ml-services/Dockerfile.ml
    ports:
      - "7000:7860" # Map host 7000 to container 7860
    environment:
      - PORT=7860

  backend:
    container_name: HydraSense-Backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile.backend
    ports:
      - "5000:7860" # Map host 5000 to container 7860
    environment:
      - PORT=7860
      - FLASK_API_URL=http://ml-service:7860 # Use internal docker network
    depends_on:
      - ml-service

  frontend:
    container_name: HydraSense-Frontend
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      # While developing locally, point to the local backend
      - REACT_APP_BACKEND_URL=http://localhost:5000
    stdin_open: true
    tty: true